.button-pay {
    width: 100%;
    height: 3em;
    border-radius: 1em;
    border: none;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

.container-pay {
    margin-left: auto;
    width: 90%;
    margin-right: auto;
}

.body-global {
    background-color: var(--tg-theme-bg-color);
}

.text-container {
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-section-bg-color);

    width: 100%;
    border-radius: 1em;
}